.primaryButton {
	background-color: hsl(185, 40%, 50%);
	border-radius: 3px;
	padding: 25px;
	border: hsl(185, 20%, 30%) solid 1px;
	color: hsl(0, 0%, 100%);
	transition: border 0.2s, background-color 0.2s;
}

.primaryButton:hover {
	cursor: pointer;
	border: hsl(185, 40%, 50%) solid 1px;
	background-color: hsl(185, 20%, 30%);
}


.secondaryButton {
	border: hsl(185, 40%, 50%) solid 2px;
	border-radius: 3px;
	background-color: hsl(0, 10%, 95%);
	font-size: 16px;
	padding: 10px;
	transition: background-color 0.2s, color 0.2s, border 0.2s;
}


.secondaryButton:hover {
	background-color: hsl(185, 40%, 50%);
	color: hsl(0, 0%, 100%);
	cursor: pointer;
	border: hsl(0, 0%, 100%) solid 2px;
}

.deleteButton {
	background-color: none;
	border: none;
	border-radius: 3px;
	padding: 5px;
	background-color: hsl(0, 10%, 95%);
	transition: background-color 0.2s, color 0.2s;
}

.deleteButton:hover {
	background-color: hsl(0, 50%, 50%);
	color: hsl(0, 10%, 95%);
	cursor: pointer;
}
