.header {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	align-items: center;
	min-height: 70px;
	background-color: hsl(0, 10%, 95%);
}

.header nav ul {
	display: flex;
	margin-right: 40px;
}

.header li {
	list-style: none;
	padding: 10px;
	border: 2px solid transparent;
	transition: border 0.2s;
}

.header li:hover {
	border: 2px solid hsl(185, 20%, 30%);
}

a {
	color: hsl(0, 5%, 20%);
	font-weight: bold;
}

@media (max-width: 600px) {
	.header {
		min-height: 50px;
	}

	.header > * {
		font-size: 12px;
	}

	.header h2 {
		font-size: 12px;
	}

	.header li {
		padding-right: 10px;
	}
}

@media (max-width: 350px) {
	.header {
		min-height: 30px;
	}

	.header > * {
		font-size: 12px;
	}

	.header h2 {
		font-size: 12px;
	}

	.header li {
		padding-right: 10px;
	}
}
