.itemView {
  padding-bottom: 3%;
  display: flex;
  justify-content: space-evenly;
  background-color: hsl(0, 10%, 95%);
  height: 100vh;
}

.imgContainer {
  max-width: 400px;
}

.itemView img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.itemInfo {
  display: flex;
  align-items: center;
}

.infoContainer {
  max-width: 400px;
  text-align: left;
}

.infoContainer h4 {
  font-size: 20px;
}

.infoContainer p {
  line-height: 2;
}

.infoContainer .buttonContainer {
  justify-content: left;
}

@media (max-width: 1000px) {
  .itemView {
    flex-direction: column;
    align-items: center;
  }

  .infoContainer {
    text-align: center;
  }

  .infoContainer p {
    text-align: left;
  }

  .infoContainer .buttonContainer {
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .itemView h2 {
    font-size: 16px;
  }

  .imgContainer {
    max-width: 350px;
  }

  .infoContainer {
    max-width: 350px;
  }
}

@media (max-width: 380px) {
  .itemView h2 {
    font-size: 12px;
  }

  .imgContainer {
    max-width: 220px;
  }

  .infoContainer {
    max-width: 220px;
  }
}
