.itemView {
  padding-bottom: 3%;
  display: grid;
  grid-template-columns: 200px auto auto;
}

.imgContainer {
  max-width: 400px;
}

.itemView img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.itemInfo {
  display: flex;
  align-items: center;
}

.infoContainer {
  max-width: 400px;
  text-align: left;
}

.infoContainer h4 {
  font-size: 20px;
}

.infoContainer p {
  line-height: 2;
}

.infoContainer .buttonContainer {
  justify-content: left;
}

@media (max-width: 1050px) {
  .itemView {
    font-size: 16px;
  }

  .infoContainer {
    max-width: 350px;
    margin-left: 10px;
  }

  .infoContainer p {
    text-align: left;
  }

  .imgContainer {
    max-width: 350px;
  }
}

@media (max-width: 900px) {
  .imgContainer {
    max-width: 250px;
    margin: 0 auto;
  }

  .infoContainer {
    max-width: 250px;
    margin-left: 25px;
  }
}

@media (max-width: 750px) {
  .itemView {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}

@media (max-width: 380px) {
  .itemView h2 {
    font-size: 12px;
  }

  .imgContainer {
    max-width: 220px;
  }

  .infoContainer {
    max-width: 220px;
  }
}
