.shoppingCart {
	display: grid;
	grid-template-columns: 2fr 1fr;
	background-color: hsl(0, 10%, 95%);
}

/* Totals and checkout button */
.totalsContainer {
	display: flex;
}

.totals {
	grid-column: 2;
	padding: 30px;
	text-align: right;
}

.checkout {
	background-color: hsl(185, 40%, 50%);
	border-radius: 3px;
	padding: 25px;
	border: hsl(185, 20%, 30%) solid 1px;
	color: hsl(0, 0%, 100%);
	transition: border 0.2s, background-color 0.2s;
}

.checkout:hover {
	cursor: pointer;
	border: hsl(185, 40%, 50%) solid 1px;
	background-color: hsl(185, 20%, 30%);
}

/* Itemized Cart details */
.cartItemsContainer {
	grid-column: 1;
	margin-top: 3%;
	margin-left: 3%;
	grid-column: 1;
	display: flex;
	flex-direction: column;
}

.cartDisplayContainer {
	display: flex;
	justify-content: center;
}

/* button to lead back to the shop */
.keepShoppingContainer {
	margin-bottom: 40px;
}

.keepShoppingContainer button {
	border: hsl(185, 40%, 50%) solid 2px;
	border-radius: 3px;
	background-color: hsl(0, 10%, 95%);
	font-size: 16px;
	padding: 10px;
	transition: background-color 0.2s, color 0.2s, border 0.2s;
}


.keepShoppingContainer button:hover {
	background-color: hsl(185, 40%, 50%);
	color: hsl(0, 0%, 100%);
	cursor: pointer;
	border: hsl(0, 0%, 100%) solid 2px;
}

/* Display for when the cart is empty */
.emptyCart {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.cartItem {
	width: 500px;
	display: flex;
}

.headerContainer,
.quantityContainer,
.deleteItem {
	width: 150px;
	padding-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.headerContainer h4 {
	margin: 5;
}

.normalWeight {
	font-weight: normal;
}

.quantityContainer {
	flex-direction: column;
}

.shoppingCart .imageContainer {
	width: 200px;
	padding: 10px;
	display: flex;
}

.shoppingCart .imageContainer img {
	object-fit: fill;
	width: 100%;
	height: 100%;
}

.headerContainer {
	display: flex;
	flex-direction: column;
}

.deleteItem button {
	background-color: none;
	border: none;
	border-radius: 3px;
	padding: 5px;
	background-color: hsl(0, 10%, 95%);
}

.deleteItem button:hover {
	background-color: hsl(0, 50%, 50%);
	color: hsl(0, 10%, 95%);
	cursor: pointer;
}

@media (max-width: 900px) {
	.shoppingCart {
		grid-template-columns: 1fr 2fr 1fr;
		justify-items: center;
	}
	.cartDisplayContainer,
	.totalsContainer {
		grid-column: 2;
	}

	.totalsContainer {
		grid-row-start: 1;
		padding: 0;
		width: 300px;
		display: flex;
		justify-content: center;
	}

	.cartItem {
		width: 500px;
		padding: 0;
	}
}
