.itemView {
	margin-top: 1%;
	padding-bottom: 3%;
	display: flex;
	justify-content: space-evenly;
}

.imgContainer {
	max-width: 400px;
}

.itemView img {
	object-fit: fill;
	width: 100%;
	height: 100%;
}

.itemInfo {
	display: flex;
	align-items: center;
}

.infoContainer {
	max-width: 400px;
}

@media (max-width: 1000px) {
	.itemView {
		flex-direction: column;
		align-items: center;
	}
}
