.shoppingCart {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.totals {
	border: solid 1px black;
	padding: 30px;
}

.cartDisplayContainer {
	margin-top: 3%;
	margin-left: 3%;
	grid-column: 1;
	display: flex;
	justify-content: center;
}

.emptyCart {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.cartItem {
	border: 1px solid black;
	width: 500px;
	display: flex;
}

.cartItem:last-child {
	border-bottom: 1px solid black;
}

.headerContainer,
.quantityContainer {
	border-right: solid 1px black;
}

.headerContainer,
.quantityContainer,
.deleteItem {
	width: 150px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* make image a little bigger than the other containers */
.shoppingCart .imageContainer {
	width: 200px;
	border-right: solid 1px black;
	padding: 10px;
	display: flex;
}

.shoppingCart .imageContainer img {
	object-fit: fill;
	width: 100%;
	height: 100%;
}

.headerContainer {
	display: flex;
	flex-direction: column;
}

.quantityContainer {
}

.deleteItem {
}

.totalsContainer,
.quantityContainer,
.headerContainer {
}
