.shoppingCart {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.totalsContainer {
	background-color: blue;
}

.cartDisplayContainer {
	border: 1px solid black;
	grid-column: 1;
}

.cartItem {
	border: 1px solid black;
	width: 500px;
}
